.venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

MoviesAPI/_old/
MoviesAPI/env/
MoviesAPI/.venv/
database/_old/
database/*.py
database/*.db
ICM-env/
.*/
